html {
    background-color: #000000;
}

body {
    margin: auto;
    
    width: 850px;
    padding: 20;
    
    font-family: sans-serif;
    font-size: 40px;
    line-height: 1.5em;
    color: #ffffff;
}

a {
    text-decoration: none;
}

a:link {
    color: #F63D41;
}

a:visited {
    color: #F63D41;   
}


#questions {
    margin: auto;
    text-align: center; 
}
